
{% extends "base.html" %}

{% block title %}Кіру{% endblock %}

{% block content %}

<div class="auth-card">

    <h1>Жүйеге кіру</h1>

    <p class="muted">
        БҚ 24-3 оқу тобының кестесі
    </p>

    <form method="post">

        <label for="username">
            Логин
        </label>

        <input
            id="username"
            name="username"
            type="text"
            required
        >

        <label for="password">
            Пароль
        </label>

        <input
            id="password"
            name="password"
            type="password"
            required
        >

        <button type="submit">
            Кіру
        </button>

    </form>

    <p>
        Аккаунтыңыз жоқ па?

        <a href="{{ url_for('register') }}">
            Тіркелу
        </a>
    </p>

</div>

{% endblock %}