{% extends 'base.html' %}
{% block content %}
    <h2>Регистрация нового пользователя</h2>
    <form method="POST">
        <label>Логин:</label>
        <input type="text" name="username" required>

        <label>Пароль:</label>
        <input type="password" name="password" required>

        <label>Учебная группа:</label>
        <input type="text" name="group_name" placeholder="Например: ИС-21" required>

        <button type="submit">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a></p>
{% endblock %}